<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
  <h1>По категориям</h1>
    {% for category in categories %
        <h2>Категория:{{car.category}}</h2>
        <h2>Модель:{{car.model}}</h2>
        <h2>Марка:{{car.mark}}</h2>
        <h2>Объем:{{car.engine_capacity}}</h2>
        <h2>Цвет:{{car.color}}</h2>
        <h2>Пробег:{{car.odometer}}</h2>
        <h2>Image:{{car.image }}</h2>
        <h2>Год:{{car.year}}</h2>
    {% endfor %}
</center>

</body>
</html>